.grid{
    display: grid; /*display tipo Grilla*/
    grid-template-columns: repeat(6, 1fr); /*6 imagenes, o sea 6 columnas*/
    gap: 5rem; /*espacio entre las imagenes*/
    padding-left: 0rem; /*espacio a la izquierda de cada imagen*/
    padding-bottom: 1rem; /*espacio de bajo de cada imagen*/
}